adapters/Facebook/Pods
adapters/Facebook/FacebookAdapter.xcodeproj/xcuserdata
adapters/Facebook/FacebookAdapter.xcworkspace/xcuserdata
adapters/Facebook/Library
adapters/MoPub/MoPubAdapter.xcodeproj/xcuserdata
adapters/MoPub/Library
adapters/MoPub/MoPubAdapter.xcworkspace/xcuserdata
adapters/MoPub/Pods
adapters/AppLovin/Pods
adapters/AppLovin/Library
adapters/AppLovin/AppLovinAdapter.xcworkspace/xcuserdata
adapters/AppLovin/AppLovinAdapter.xcodeproj/xcuserdata
adapters/AdColony/AdColonyAdapter.xcodeproj/project.xcworkspace/xcuserdata
adapters/AdColony/Library
adapters/AdColony/Pods
adapters/AdColony/AdColonyAdapter.xcworkspace/xcuserdata
adapters/AdColony/AdColonyAdapter.xcodeproj/xcuserdata
adapters/Unity/Library
adapters/Unity/Pods
adapters/Unity/UnityAdapter.xcodeproj/xcuserdata
adapters/Unity/UnityAdapter.xcworkspace/xcuserdata
adapters/Unity/UnityAdapter.xcodeproj/project.xcworkspace/xcuserdata
adapters/Facebook/build
adapters/MoPub/build
